.familyTreePageContainer {
  margin: 0px 10px 0px 15px;
  padding: 0px 10px 0px 15px;
}

.treeContainer {
  width: 100%;
  height: 35VH;

}

a:hover, a:focus {
    color: steelblue;
    text-decoration: none;
    transition: all 0.3s;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    color: #f2f2f2;
    content: '\e259';
    display: block;
    position: absolute;
    right: -106px;
    bottom: 0px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

.family-link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

circle.person-node {
  fill: rgb(221, 233, 236);
  stroke: steelblue;
  stroke-width: 2px;
  opacity: 1;
}

text.name {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  /*font-family: Arial Narrow,Arial,sans-serif; */
  /*font-weight: bold;*/
  /*font: 11px sans-serif;*/
  /*letter-spacing: -0.5px;*/
  font-size: calc(6px + 0.8vh);
  cursor: pointer;
  fill: "black";
}

.tooltip {
  position: absolute;
  text-align: center;
  /*height: 45px;*/
  padding: 3px;
  font-size: 1.5vh;
  /*font: 11px sans-serif;*/
  background: #c8d1dd;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}




