h1 {
    font-size: 9vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 7px;
    margin: 10px 10px 10px 10px;
}

h2 {
    font-size: 5vh;
    margin: 0px 0px 0px 0px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 4vh;
    letter-spacing: 0.5px;
}

h4 {
    font-size: 3vh;
}

.figure-caption {
    font-size: 1.5vh;
}

.page {
    height: 100%;
    width: 100%;
}

.fixed {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
}

.section {
    background-color: #f4f5f8;
}

/*Title Page*/
#cover {
    background: url(../images/background-blur.jpg);
    background-size: cover;             /* Adjust size */
    background-position: center;    /* Adjust position */
    font-family: "Lato";
    color: white;
}

#coming-soon {
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.7;
    z-index: 5;
    position: absolute;
    padding: 15%;
}

.top {
    letter-spacing: 2.4px;
}
.content {
    text-align: center;
    padding-top: 30vh;
    font-family: 'IM Fell English SC', serif;
    color: black;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.1),
             0px 1px 1px rgba(0,0,0,0.1),
             0px 1px 1px rgba(0,0,0,0.1);
}

.title-label {
    font-size: 30px !important;
}
.title-header-label {
    font-size: 70px !important;
}
/*Header bar*/
.header-bar {
    position: fixed;
    width: 100%;
    height: 54px;
    top: 0;
    z-index: 15;
    background: #393a3d;
    display: none;
    box-shadow: 0 4px 4px rgba(0,0,0,0.06);
    color: white;
}
.header-bar-title {
    font-size: 32px;
}
.heading-container {
    display: inline-block;
    float: left;
    height: 100%;
}
.header-bar .heading-container .gu272 {
    display: inline-block;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 2.0em;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}
.header-bar .heading-container .category {
    display: inline-block;
    float: left;
    font-family: 'IM Fell English SC', serif;
    font-size: 2.1em;
    position: relative;
    top: 54%;
    transform: perspective(1px) translateY(-50%);
}
/*Nav Bar*/
.nav-bar {
    height: 54px;
    width: 100%;
    display: inline-block;
}
.nav-bar .nav-bar-links-container .link-item a {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.nav-bar .nav-bar-links-container .link-item a:hover {
    color: black;
}
.nav-bar-links-container .link-item a:hover {
    color: inherit;
    text-decoration: none;
}
.nav-bar-links-container {
    display: inline-block;
    float: right;
    /*margin: 15px 20px;*/
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    margin-right: 20px;
}
.link-item {
    display: inline-block;
    float: left;
    margin-left: 30px;
}
.link-item a {
    color: white;
}
/*Body*/
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
/*Paginating-page*/
.paginating-page {
    display: inherit;
    width: 100VW;
    height: 100VH;
}
.about-container {
    height: 100%;
    width: 50%;
    float: left;
    padding: 10% 5% 10% 10%;
}

.tooltip {
    /*margin: 5% 5% 5% 5%;*/
}

/* History and Timeline Page */
.timeline-text {
    font-size: 2vh;
    font-weight: 500;
    font-family: 'IM Fell Double Pica', serif;
}

/* Passage Page */
.button {
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    flex-shrink: 1; 
    flex-basis: 100px;
    font-size: 2vh;
}

@media screen and (orientation:portrait) {
    #routeMapColumn {
        height: 40VH;
    }
}

@media screen and (orientation:landscape) {
    #routeMapColumn {
        height: 90VH;
    }
}

.map-legend {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font: 11px sans-serif;
}

/* About Page */
.about-text { 
    font-size: 2vh;
}

small {
    font-size: 1.5vh;
}