body {
  text-align: center;
}

rect {
  fill: lightblue;
  stroke: steelblue;
  stroke-width: 2px;
}

.person {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font: 11px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

circle {
  fill: lightblue;
  stroke: steelblue;
  stroke-width: 2px;
}

text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font: 11px sans-serif;
  cursor: pointer;
}