body {
  text-align: center;
}

rect {
  fill: lightblue;
  stroke: steelblue;
  stroke-width: 2px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

circle {
  fill: lightblue;
  stroke: steelblue;
  stroke-width: 2px;
}

text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font: 11px sans-serif;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  text-align: center;
  height: 40px;
  padding: 3px;
  font: 11px sans-serif;
  background: #c8d1dd;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip

