extends layout

block content
  h1 GSA Digital Fellowship 2017-18
  br
  h3 Background
  p 
  a(href='http://slaveryarchive.georgetown.edu/') The Georgetown Slavery Archive (GSA)
  |  is an online, digital repository of archival material relating to slavery, Georgetown, and the Maryland Province of the Society of Jesus. The GSA was initiated in February 2016 by the 
  a(href='http://slavery.georgetown.edu/') Working Group for Slavery, Memory, and Reconciliation
  |, and it continues to expand under the curation of 
  a(href='https://gufaculty360.georgetown.edu/s/faculty-profile?netid=ar44%2F') Professor Adam Rothman
  |. Currently, biographical and genealogical information on GU272 families is stored in a variety CSV and Excel files, but there is no standardized database containing this information, and no platform for the public to view it. Finally, there have been efforts to create digital visualizations using existing data, but they are not web-based or interactive. 

  h3 Mission
  p As the 2017-18 Digital Fellow, I am working to organize, store, and visualize the data embedded in the digital archive, specifically biographical and genealogical information on GU272 families (the Maryland Jesuit slave community) from Maryland to Louisiana and from slavery through emancipation. Ultimately, this will enable the public to learn about GSA in a way that is user-friendly, interactive, and publicly available, as well as inspire other institutions and organizations working on similar initiatives. 

  h3 Goals
  ol 
    li Build databases (MySQL/MongoDB) to organize and store biographical and genealogical information on GU272 families
    li Build an interface (ExpressJS/Node.JS) for GSA teammates to perform CRUD (create, read, update, delete) operations on data
    li Build web-based data visualizations (D3.js) using the cleaned data 