doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              br
              br
              br
              br
              li 
                a(href='/') Home
              li 
                hr
              li 
                a(href='/slaves') View GU272 database
              li 
                hr
              li 
                a(href='/visualizations') View data visualizations
              li 
                hr
              li 
                a(href='/slave/create') Create new slave record
              li 
                hr
              li 
                p Made by Sabrina Ma 
              li 
                a(href='mailto:slm243@georgetown.edu') Contact

        div(class='col-sm-1')
        div(class='col-sm-9')
          block content