extends layout 

block content 
  h1=  title

  h3 Overview
  if error
    p Error getting dynamic content.
  else
    p The database has the following record counts:

    ul
      li #[strong Slave records:] !{data}