extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='full_name') Full name:
      input#full_name.form-control(type='text', placeholder='Isaac Hawkins' name='full_name' required ='true' value=(undefined===slave ? '' : slave.full_name))
    div.form-group  
      label(for='first_name') First name:
      input#first_name.form-control(type='text', placeholder='Isaac' name='first_name' required ='true' value=(undefined===slave ? '' : slave.first_name))
    div.form-group  
      label(for='last_name') Last name:
      input#last_name.form-control(type='text', placeholder='Hawkins' name='last_name' value=(undefined===slave ? '' : slave.last_name))
    div.form-group  
      label(for='birthdate') Bithdate:
      input#birthdate.form-control(type='text', placeholder='YYYY' name='birthdate' value=(undefined===slave ? '' : slave.birthdate))
    div.form-group  
      label(for='age') Age:
      input#age.form-control(type='text', placeholder='40' name='age' value=(undefined===slave ? '' : slave.age))
    div.form-group  
      label(for='age_approx') Is age an approximation?
      input#age_approx.form-control(type='text', placeholder='TRUE if yes, blank if not' name='age_approx' value=(undefined===slave ? '' : slave.age_approx))
    div.form-group  
      label(for='gender') Gender:
      input#gender.form-control(type='text', placeholder='male' name='gender' value=(undefined===slave ? '' : slave.gender))
    //div.form-group  
    //label(for='gender') Gender:
    //input#gender.form-control(type='checkbox', placeholder='male' name='gender' value=(undefined===slave ? '' : slave.gender))
    //option(value='gender') #{male}
    //option(value='gender') #{female}
    
    div.form-group  
      label(for='ship') Ship:
      input#ship.form-control(type='text', placeholder='3' name='ship' value=(undefined===slave ? '' : slave.ship))
    div.form-group  
      label(for='plantation_name') Plantation Name:
      input#plantation_name.form-control(type='text', placeholder='White Marsh' name='plantation_name' value=(undefined===slave ? '' : slave.plantation_name))
    div.form-group  
      label(for='reference_url') Reference URL:
      input#reference_url.form-control(type='text', placeholder='http://slaveryarchive.georgetown.edu/' name='reference_url' value=(undefined===slave ? '' : slave.reference_url))
    div.form-group  
      label(for='buyer_name') Buyer Name:
      input#buyer_name.form-control(type='text', name='buyer_name' value=(undefined===slave ? '' : slave.buyer_name))
    div.form-group  
      label(for='extra_info') Extra Information:
      input#extra_info.form-control(type='text', name='extra_info' value=(undefined===slave ? '' : slave.extra_info))

    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg