extend layout 

block content
	h1= title
		link(rel='stylesheet', href='stylesheets/slaveTree.css')
		script(src='https://d3js.org/d3.v4.min.js')
		br
		br
		script.
			var filteredData_client = !{JSON.stringify(filteredData_server)};
		script(src='javascripts/family-tree-viz.js')

