h1 {
	font-weight: 700;
	font-size: 5em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  /*font-style: bold;*/
  font-weight: 400;
  letter-spacing: 5px;
	/*font-family: 'IM Fell Double Pica', serif;*/
}

h2 {
	margin: 0px 0px 0px 0px;
}

.top {
	letter-spacing: 2.4px;
}

p {
	margin: 0px 0px 0px 0px;
}

.content {
	text-align: center;
	padding-top: 21%;
	font-family: 'IM Fell English SC', serif;
	color: black;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1),
             0px 1px 1px rgba(0,0,0,0.1),
             0px 1px 1px rgba(0,0,0,0.1);
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.page {
	height: 100%;
	width: 100%;
}

#cover {
	background: url(../images/background-blur.jpg);
	/*opacity: 0.60;*/
	/*z-score: 99;*/
	/*filter: alpha(opacity=90); /* For IE8 and earlier */*/
	background-size: cover;				/* Adjust size */
	background-position: center;	/* Adjust position */
	background
	font-family: "Lato";
	color: white;
}


#history {
	height: 350%;
	/*height: 200%;*/
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: left;
}

#timeline {
	width: 10%;
	margin-left: 5%;
}
#map {
	width: 40%;
	float: left;
}

ul.timeline-dates {
	width: 10%;
	list-style-type: none; 
	float: left;
}

li.year {
	margin: 5px 5px 5px -42px;
	font-size: 1.4em;
	font-weight: 800;
}

li.line {
	padding: 0px;
	margin-left: -18px;
	border-left: 1px dashed grey;
}

li.date {
	/*font-size: 1.6em;*/
}

li.short-line {
	height: 2%;
}

li.long-line {
	height: 6.3%;
}

.date  {
	display: block;
  width: 15px;
  height: 15px;
  margin: 5px 5px 5px -24px;
  background: url(../images/circle.svg) no-repeat center;
  opacity: 0.5;
  background-size: 13px 13px;
  cursor: pointer;
  transition: opacity 0.4s;
}

.selected {
	background: url(../images/circle-selected.svg) no-repeat center;
	background-size: 13px 13px;
	transition: background-image 0.3s ease-in-out;
	display: block;
}

.selected-location {
	display: block
	transition: all 0.3s ease-in-out;
}

span {
	display: none;
	margin-left: 20px;
	color: black;
	font-size: 0.9em;
}

circle.location {
/*	fill: lightblue;
	stroke: black;*/
	opacity: 0.6;
	stroke: black;
	transition: opacity 1s;
}


path.state {
	fill: "lightgrey";
}

.state-selected {
	fill: "darkolivegreen";
	transition: opacity 0.4s;
}

.date-container {
	width: 35%;
	/*margin: 0% 10% 10% 20%;*/
	/*margin-left: 15%;*/
	float:left;
	font-size: 1.4em;
	font-weight: 500;
	font-family: 'IM Fell Double Pica', serif;
	position: relative;
}

.date-info: {
	/*height: 33%;*/
}

p.blank {
	height: 12%;
}

/*svg{
    display: block;
    margin: auto;
}*/
/*#one {
	color: yellow;
}*/

